@import '../../../styles/settings.scss';

.root {
  margin: ($base-size * 2) 0;
  padding: $base-size;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 5px;

  .row, .edit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .edit {
    margin: ($base-size * 2) 0 ($base-size * 2) auto;
  }

  .cell {
    padding: $base-size;

    .photoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $light;
      border-radius: 5px;
      width: 70px;
      height: 100px;

      .photo {
        max-width: 95%;
        height: 95%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    &.titleWrapper {
      max-width: 25%;
    }

    .price {
      font-weight: bolder;
      font-size: larger;
      padding: 0 $base-size;
      height: 56px;
      line-height: 56px;
      border: 1px solid $primary;
      border-radius: 5px;
    }

    .amount, .comment, .updateButton, .removeButton {
      color: $light;
      background: $primary;
      min-height: 56px;
    }

    .updateButton, .removeButton {
      .icon {
        font-size: $base-size * 2;
      }

      &:hover {
        @extend %hover-animation;
        color: $secondary;
        background: $light;
        transform: rotate(360deg) scale(1.2);
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .cell {
      padding: $base-size / 2;
    }
  }

  @media (max-width: 767px) {
    .edit {
      flex-direction: column;

      .cell {
        padding: $base-size / 2;
        margin-left: auto;
      }
    }
  }
}
