@import '../../../styles/settings.scss';

.root {
  color: $primary;

  .title {
    font-size: $base-size * 3;
    text-align: center;
    margin-bottom: $base-size * 3;

    .icon {
      margin: 0 ($base-size * 2);

      &:first-of-type {
        transform: rotateY(180deg);
      }
    }
  }

  .emptyOrder {
    font-size: $base-size * 2;
    text-align: center;

    .back {
      margin: $base-size * 4;
      color: $light;
      background: $primary;
      font-size: $base-size * 2;
      width: fit-content;

      .icon {
        font-size: $base-size * 4;
      }

      &:hover {
        @extend %hover-animation;
        color: $secondary;
        background: $light;
        transform: rotate(360deg) scale(1.2);
      }
    }
  }

  .notEmptyOrder {
    display: flex;
    flex-wrap: wrap;

    .sectionTitle {
      text-align: center;
      margin-bottom: $base-size * 2;
    }

    .orderedProducts {
      flex: 1;

      .price {
        font-size: $base-size * 2;
        text-align: center;
        margin: $base-size * 2;
        padding: $base-size;
        border: 1px solid $primary;
        border-radius: 5px;
      }
    }

    .shippingData {
      flex: 1;

      .confirmOrder {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input {
          margin: $base-size;
          border: 1px solid $primary;
          color: $primary;
          background: $light;

          &.phone {
            margin-bottom: $base-size * 4;
          }
        }

        .orderButton {
          color: $light;
          background: $primary;
          margin: $base-size * 2;

          .icon {
            font-size: $base-size * 4;
          }

          &:hover {
            @extend %hover-animation;
            color: $secondary;
            background: $light;
            transform: rotate(360deg) scale(1.2);
          }
        }
      }
    }
  }
}
