@import '../../../styles/settings.scss';

.root {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 25%;
  padding: $base-size * 2;

  .product {
    width: 100%;
    text-decoration: none;

    .card {
      text-align: center;
      color: $primary;
      background: $light;

      .cover {
        height: 350px;
      }

      .info {
        position: relative;
        height: 150px;

        .title {
          margin-bottom: $base-size / 2;
        }

        .price {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: $light;
          color: $primary;
          font-weight: bolder;
          width: 120px;
          height: 120px;
          line-height: 120px;
          border-radius: 50%;
          box-shadow: 0 0 40px $light;
        }
      }

      &:hover {
        @extend %hover-animation;
        color: $secondary;
        background: $primary;
        box-shadow: 0 0 40px $primary;
        transform: scale(1.2);

        .price {
          display: block;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    width: 33%;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 50%;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    width: 50%;
    padding: $base-size;

    .product .card {
      .cover {
        height: 300px;
      }

      .info {
        height: 130px;

        .title {
          font-size: $base-size * 1.5;
        }
      }
    }
  }

  @media (max-width: 575px) {
    display: flex;
    min-width: 60%;
    padding: $base-size;
    margin: auto;

    .product .card {
      .cover {
        height: 250px;
      }

      .info {
        height: 100px;

        .title {
          font-size: $base-size * 1.25;
        }
      }
    }
  }
}
