@import '../../../styles/settings.scss';

.root {
  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: ($base-size * 2) 0;
  }

  .logo {
    display: inline-flex;
    align-items: center;

    .icon {
      color: $light;
      font-size: $base-size * 4;
      margin: 0 ($base-size * 2);

      &.left {
        transform: rotateY(180deg);
      }
    }

    .title {
      color: $light;
      font-weight: bolder;
      text-align: center;
      margin: 0;

      &.hidden {
        display: none;
      }
    }

    &:hover {
      .icon, .title {
        @extend %hover-animation;
        color: $secondary;
      }
    }
  }

  .cart {
    margin: $base-size * 4;
    position: absolute;
    right: 0;
    color: $light;
    background: $primary;

    .icon {
      font-size: $base-size * 4;
    }

    &:hover {
      @extend %hover-animation;
      color: $secondary;
      background: $light;
    }
  }
}
