@import '../../../styles/settings.scss';

.root {
  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: ($base-size * 2) 0;
  }

  .logo {
    display: inline-flex;
    align-items: center;

    .icon {
      color: $light;
      font-size: $base-size * 4;
      margin: 0 ($base-size * 2);

      &:first-of-type {
        transform: rotateY(180deg);
      }
    }

    .title {
      color: $light;
      font-weight: bolder;
      text-align: center;
      margin: 0;
    }

    &:hover {
      .icon, .title {
        @extend %hover-animation;
        color: $secondary;
      }
    }
  }

  .hidden {
    opacity: 0;
  }

  .cart {
    margin: $base-size * 4;
    position: absolute;
    right: 0;
    color: $light;
    background: $primary;

    .icon {
      font-size: $base-size * 4;
    }

    &:hover {
      @extend %hover-animation;
      color: $secondary;
      background: $light;
      transform: rotate(360deg) scale(1.2);
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .title {
      font-size: $base-size * 5;
    }

    .cart {
      margin: $base-size * 2;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .title {
      font-size: $base-size * 3;
    }

    .cart {
      margin: $base-size * 2;

      .icon {
        font-size: $base-size * 3;
      }
    }
  }

  @media (min-width: 576px) and (max-width: 767px) {
    .title {
      font-size: $base-size * 2;
    }

    .cart {
      margin: $base-size;

      .icon {
        font-size: $base-size * 2;
      }
    }
  }

  @media (max-width: 575px) {
    .toolbar {
      justify-content: flex-start;
      padding: ($base-size * 2) $base-size;
    }
    .icon {
      display: none;
    }

    .title {
      font-size: $base-size * 2;
      text-align: left;
    }

    .cart {
      margin: $base-size;
    }
  }
}
