@import '../../../styles/settings.scss';

.root {
  color: $primary;
  position: relative;

  .title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: $base-size * 3;
    margin: 0 $base-size;
    max-width: 75%;

    .icon {
      &:first-of-type {
        margin-right: ($base-size * 2);
        transform: rotateY(180deg);
      }

      &:last-of-type {
        margin-left: ($base-size * 2);
      }
    }
  }

  .author {
    font-size: $base-size * 2;
    margin: 0 $base-size ($base-size * 2);
    max-width: 75%;
  }

  .price {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 $base-size;
    background: $light;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid $primary;
    border-radius: 50%;
    box-shadow: 0 0 20px $primary;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    margin: ($base-size * 4) 0;

    .photoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin: 0 $base-size;
      background: $light;
      border-radius: 5px;
      height: 500px;

      .photo {
        max-width: 95%;
        height: 95%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .textWrapper {
      flex: 2;
      margin: 0 $base-size;
      font-size: $base-size * 1.5;
      text-align: justify;

      .addingToCart {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin: ($base-size * 2) 0;

        .amount {
          font-size: $base-size * 2;
          color: $light;
          background: $primary;
          margin-left: $base-size * 2;
          height: 64px;
        }

        .addingButton {
          color: $light;
          background: $primary;
          margin-left: $base-size * 2;

          .icon {
            font-size: $base-size * 4;
          }

          &:hover {
            @extend %hover-animation;
            color: $secondary;
            background: $light;
            transform: rotate(360deg) scale(1.2);
          }
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .title {
      font-size: $base-size * 2.5;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .title {
      font-size: $base-size * 2;
    }

    .author {
      font-size: $base-size * 1.5;
    }

    .price {
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: $base-size * 1.5;
    }

    .info {
      .photoWrapper {
        height: 300px;
      }

      .textWrapper {
        font-size: $base-size * 1.25;
        line-height: 1.2;

        .addingToCart {
          .amount {
            height: 48px;
          }

          .addingButton .icon {
            font-size: $base-size * 2;
          }
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 767px) {
    .title {
      font-size: $base-size * 1.5;
    }

    .author {
      font-size: $base-size;
    }

    .price {
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: $base-size * 1.5;
    }

    .info {
      margin: ($base-size * 4) 0 0;

      .photoWrapper {
        height: 250px;
      }

      .textWrapper {
        font-size: $base-size;
        line-height: 1.2;

        .addingToCart {
          margin: $base-size 0 0;

          .amount {
            height: 48px;
            margin: 0 0 $base-size;
          }

          .addingButton {
            margin: 0 0 $base-size $base-size;

            .icon {
              display: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    .title {
      font-size: $base-size * 1.5;
      max-width: 60%;
      text-align: left;

      .icon {
        display: none;
      }
    }

    .author {
      font-size: $base-size;
      max-width: 60%;
    }

    .price {
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: $base-size * 1.5;
    }

    .info {
      flex-direction: column;
      margin: 0;

      .photoWrapper {
        height: 250px;
        max-width: 80%;
        margin: $base-size auto;
      }

      .textWrapper {
        font-size: $base-size;
        line-height: 1.2;

        .addingToCart {
          margin: $base-size 0 0;

          .amount {
            height: 44px;
            margin: 0 0 $base-size;
          }

          .addingButton {
            margin: 0 0 $base-size $base-size;
            padding: $base-size / 2;

            .icon {
              display: none;
            }
          }
        }
      }
    }
  }
}
