@import '../../../styles/settings.scss';

.root {
  color: $primary;
  position: relative;

  .title {
    font-size: $base-size * 3;
    margin: 0 $base-size;
    max-width: 85%;

    .icon {
      &:first-of-type {
        margin-right: ($base-size * 2);
        transform: rotateY(180deg);
      }

      &:last-of-type {
        margin-left: ($base-size * 2);
      }
    }
  }

  .author {
    font-size: $base-size * 2;
    margin: 0 $base-size ($base-size * 2);
    max-width: 85%;
  }

  .price {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 $base-size;
    background: $light;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid $primary;
    border-radius: 50%;
    box-shadow: 0 0 20px $primary;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    margin: ($base-size * 4) 0;

    .photoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin: 0 $base-size;
      background: $light;
      border-radius: 5px;
      height: 500px;

      .photo {
        max-width: 95%;
        height: 95%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .textWrapper {
      flex: 2;
      margin: 0 $base-size;
      font-size: $base-size * 1.5;
      text-align: justify;

      .addingToCart {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin: ($base-size * 2) 0;

        .amount {
          font-size: $base-size * 2;
          color: $light;
          background: $primary;
          margin-left: $base-size * 2;
          height: 64px;
        }

        .addingButton {
          color: $light;
          background: $primary;
          margin-left: $base-size * 2;

          .icon {
            font-size: $base-size * 4;
          }

          &:hover {
            @extend %hover-animation;
            color: $secondary;
            background: $light;
            transform: rotate(360deg) scale(1.2);
          }
        }
      }
    }
  }
}
