@import '../../../styles/settings.scss';

.root {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $base-size * 3;
    color: $primary;
    text-align: center;
    margin-bottom: $base-size * 3;

    .icon {
      margin: 0 ($base-size * 2);

      &:first-of-type {
        transform: rotateY(180deg);
      }
    }
  }

  @media (max-width: 575px) {
    .title {
      font-size: $base-size * 2;
    }
  }
}
