@import '../../../styles/settings.scss';

.root {
  .title {
    font-size: $base-size * 3;
    color: $primary;
    text-align: center;
    margin-bottom: $base-size * 3;

    .icon {
      margin: 0 ($base-size * 2);

      &:first-of-type {
        transform: rotateY(180deg);
      }
    }
  }
}
