@import '../../../styles/settings.scss';

.root {
  flex: 1;
  margin: 0 $base-size;

  .confirmOrder {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input {
      margin: 0 $base-size ($base-size * 2);
      border: 1px solid $primary;
      color: $primary;
      background: $light;

      &.phone {
        margin-bottom: $base-size * 4;
      }
    }

    .orderButton {
      color: $light;
      background: $primary;
      margin: $base-size * 2;

      .icon {
        font-size: $base-size * 4;
      }

      &:hover {
        @extend %hover-animation;
        color: $secondary;
        background: $light;
        transform: rotate(360deg) scale(1.2);
      }
    }
  }

  @media (max-width: 575px) {
    margin: 0;
  }
}
